version: '3.8'

services:
  app:
    build: . 
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=host=db user=postgres password=postgres dbname=chatdb port=5432 sslmode=disable
    depends_on:
      - db
    command: sh -c "goose -dir migrations postgres \"host=db user=postgres password=postgres dbname=chatdb port=5432 sslmode=disable\" up && ./main"

  # База данных Postgres
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: chatdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data 

volumes:
  pgdata: